.wrapper_info_page {
  margin: 80px 0px 120px 0px;

  padding-left: 250px;
  padding-right: 250px;
}

.container_date_theme {
  height: 50px;

  display: flex;
  align-items: center;
}

.date {
  width: 60px;
  height: 30px;
  margin-right: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ff7c7c;
  border-radius: 16px;
  color: white;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 60px;
}

.theme {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;

  color: #21243d;
}

.img {
  width: 100%;
  height: auto;
  margin-bottom: 60px;
}

@media (max-width: 1300px) {
  .wrapper_info_page {
    padding: 20px;
  }
}
