* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #e5e5e5;
}
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  /* font-family: "Poppins", sans-serif; */
  font-family: "Heebo";
}
.wrapper_app {
  margin: 0 auto;
  max-width: 1152px;
}
